@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;
  }

  body {
    @apply bg-slate-50 text-foreground;
    margin: 0;
    padding: 0;
  }
}

@layer components {
  .card {
    @apply bg-white shadow-sm rounded-lg border border-slate-200;
  }
}
