@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
  }
}

/* 制限を強制解除 */
.container {
  max-width: 100% !important;
  padding: 0 16px !important;
}
