@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
    margin: 0;
    padding: 0;
  }
}

@layer components {
  .card {
    @apply bg-white shadow-sm rounded-lg border border-slate-200;
  }
}
